.idea
__pycache__
exps*
*.zip
*.tar
checkpoints
pretrained_moco_models
eval_summary
eval_summary_multiview
data/NuScenes/maps
data/NuScenes/pred_det3d
data/NuScenes/pred_instance
data/NuScenes/samples
data/NuScenes/v1.0-mini
data/NuScenes/v1.0-trainval
data/NuScenes/v1.0-min-full
data/KITTI/training
data/Waymo/validation
data/third_party_det3D
wandb
demo_output